In [3]:
##Streamlit - Desempenho de Vendas

In [1]:
import pandas as pd

In [4]:
df_train = pd.read_csv('Train.csv')
df_train.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

In [5]:
df_train = df_train[["Outlet_Type", "Outlet_Size", "Outlet_Location_Type", "Item_Visibility"]]

In [6]:

df_train.head(10)

         Outlet_Type Outlet_Size Outlet_Location_Type  Item_Visibility
0  Supermarket Type1      Medium               Tier 1         0.016047
1  Supermarket Type2      Medium               Tier 3         0.019278
2  Supermarket Type1      Medium               Tier 1         0.016760
3      Grocery Store         NaN               Tier 3         0.000000
4  Supermarket Type1        High               Tier 3         0.000000
5  Supermarket Type2      Medium               Tier 3         0.000000
6  Supermarket Type1        High               Tier 3         0.012741
7  Supermarket Type3      Medium               Tier 3         0.127470
8  Supermarket Type1         NaN               Tier 2         0.016687
9  Supermarket Type1         NaN               Tier 2         0.094450

In [7]:
df_train_Proc = pd.get_dummies(df_train, columns=['Outlet_Type', 'Outlet_Size', 'Outlet_Location_Type'], dtype=int)
df_train_Proc.head(10)

,Item_Visibility,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3
0,0.016047,0,1,0,0,0,1,0,1,0,0
1,0.019278,0,0,1,0,0,1,0,0,0,1
2,0.016760,0,1,0,0,0,1,0,1,0,0
3,0.000000,1,0,0,0,0,0,0,0,0,1
4,0.000000,0,1,0,0,1,0,0,0,0,1
5,0.000000,0,0,1,0,0,1,0,0,0,1
6,0.012741,0,1,0,0,1,0,0,0,0,1
7,0.127470,0,0,0,1,0,1,0,0,0,1
8,0.016687,0,1,0,0,0,0,0,0,1,0
9,0.094450,0,1,0,0,0,0,0,0,1,0

In [8]:
features_Train = ['Outlet_Type_Grocery Store', 'Outlet_Type_Supermarket Type1', 'Outlet_Type_Supermarket Type2', 'Outlet_Type_Supermarket Type3','Outlet_Size_High',
                 'Outlet_Size_Medium', 'Outlet_Size_Small', 'Outlet_Location_Type_Tier 1', 'Outlet_Location_Type_Tier 2', 'Outlet_Location_Type_Tier 3']
print(features_Train)

['Outlet_Type_Grocery Store', 'Outlet_Type_Supermarket Type1', 'Outlet_Type_Supermarket Type2', 'Outlet_Type_Supermarket Type3', 'Outlet_Size_High', 'Outlet_Size_Medium', 'Outlet_Size_Small', 'Outlet_Location_Type_Tier 1', 'Outlet_Location_Type_Tier 2', 'Outlet_Location_Type_Tier 3']

In [9]:
Train_X = df_train_Proc[features_Train]
Train_X.head(10)

,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3
0,0,1,0,0,0,1,0,1,0,0
1,0,0,1,0,0,1,0,0,0,1
2,0,1,0,0,0,1,0,1,0,0
3,1,0,0,0,0,0,0,0,0,1
4,0,1,0,0,1,0,0,0,0,1
5,0,0,1,0,0,1,0,0,0,1
6,0,1,0,0,1,0,0,0,0,1
7,0,0,0,1,0,1,0,0,0,1
8,0,1,0,0,0,0,0,0,1,0
9,0,1,0,0,0,0,0,0,1,0

In [10]:
Train_Y = df_train_Proc['Item_Visibility']
print(Train_Y.head())

0    0.016047
1    0.019278
2    0.016760
3    0.000000
4    0.000000
Name: Item_Visibility, dtype: float64